<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<ComponentGroup Id="ProductComponents">
			<ComponentRef Id="PotatoWallPathEntry" />
			<ComponentRef Id="MainAppShortcut" />
		</ComponentGroup>

		<Component Id="PotatoWallPathEntry" Directory="INSTALLFOLDER" Guid="{38127FD5-4AA2-4943-864A-6FB3FD3839B7}">
			<CreateFolder />
			<RemoveFile Id="InstallState" On="uninstall" Name="PotatoWall.InstallState" />
			<Environment
			  Id="PATH"
			  Name="PATH"
			  Value="[INSTALLFOLDER]"
			  Permanent="yes"
			  Part="last"
			  Action="set"
			  System="yes" />
		</Component>

		<DirectoryRef Id="INSTALLFOLDER">

			<Component Id="MainAppShortcut" Guid="{28592734-8D2E-4D7D-B457-D127EF863E08}">

				<Shortcut Id="MainAppShortcut"
						  Name="!(loc.ProductName)"
						  Target="[INSTALLFOLDER]PotatoWall.exe"
						  Directory="InstallProgramMenuFolder"
						  WorkingDirectory="INSTALLFOLDER"
						  Icon="PotatoWall.ico" />

				<RegistryValue Id="RegShortcutKey" Root="HKCU" Key="SOFTWARE\POQDavid\!(loc.ProductNameFolder)" Name="Shortcut" Value="1" Type="integer" KeyPath="yes" />

				<RemoveFolder Id="RemoveStartMenu" Directory="InstallProgramMenuFolder" On="uninstall" />
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>