<?ifndef Version?>
<?define Version = "1.6.0" ?>
<?endif?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
	<?if $(var.Platform)=x64 ?>
	<?define ProductCode = "*" ?>
	<?else?>
	<?define ProductCode = "*" ?>
	<?endif?>

	<?define UpgradeCode = "{462D5416-7226-491E-A743-8E57D3703BBA}" ?>

	<Package Name="!(loc.ProductName_$(var.Platform))" Language="!(loc.Language)" Version="$(var.Version)" Manufacturer="!(loc.Company)" UpgradeCode="$(var.UpgradeCode)" ProductCode="$(var.ProductCode)">

		<SummaryInformation Manufacturer="!(loc.Company)" Description="!(loc.Description)" Keywords="!(loc.Keywords)" />

		<MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" AllowDowngrades="no" />

		<MediaTemplate EmbedCab="yes" />

		<Icon Id="PotatoWall.ico" SourceFile="..\potatowall.ico" />

		<Property Id="ARPPRODUCTICON" Value="PotatoWall.ico" />

		<Property Id="ARPURLINFOABOUT" Value="https://github.com/poqdavid/PotatoWall" />

		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

		<UI>
			<ui:WixUI Id="WixUI_InstallDir" />
		</UI>

		<WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\LICENSE.rtf" />
		<WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\WixUIDialogBmp.jpg" />
		<WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\WixUIBannerBmp.bmp" />

		<Feature Id="ProductFeature_ShortcutAndReg" Title="PotatoWall Shortcut" Level="1">
			<ComponentRef Id="MainAppShortcut" />
		</Feature>
		<Feature Id="ProductFeatureMain" Title="PotatoWall" Level="1">
			<ComponentGroupRef Id="PublishedComponents" />
			<ComponentRef Id="PotatoWallPathEntry" />
		</Feature>
	</Package>
</Wix>